* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
.bar {
  overflow-y: scroll;
}

.register-img-handler {
  display: flex;
  opacity: 40%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

.test-color {
  background-color: rgb(207, 207, 20);
}

.dashboard-gradient {
  background: rgb(102, 79, 155);
  background: linear-gradient(90deg, rgba(102, 79, 155, 1) 0%, rgba(66, 60, 122, 1) 82%);
}
